In [79]:
# Import Functions
import pandas as pd
import os
import time
import csv
import json
import fnmatch
import csv
import sqlalchemy as sql
import numpy as np
test1=None
dbHost='mxnunx41'
dbPort='1521'
dbUser='lims'
dbPassword='Mumwit63'
dbName='hwi1'
dburl='oracle://'

In [97]:
# Default Parameters setting
with open('.//configFiles//FossConfig.json', 'r') as f:
    config = json.load(f)
lab = config['lab']
analysis = config['analysis']
inst = config['inst']
mode = config['mode']
colsOrder=['Sample.Sample_Number', 'Test.Test_Number','Result.Name', 'Result.Entry', 'Result.Entered_By','Result.Instrument']

In [98]:
#write the file
def writeFile(dframe,lab,inst,archDestination,importDest,datapath,fname):
    timestr = time.strftime("%Y%m%d%H%M%S")
    FileName = importDest + lab+'_'+inst+'_' + timestr + '.csv'
    dframe.to_csv(FileName, index=False, encoding="utf-8",quotechar='"',quoting=csv.QUOTE_NONNUMERIC) # write  out the file to be imported
    destination = archDestination + fname[:-4] + '.bak' # Backup the processed file
    os.rename(datapath, destination)
    time.sleep(1)

In [99]:
# get Data from DB
def getDataFromDB(sampleNumbersList):
    dburl = 'oracle://'+dbUser+':'+dbPassword+'@'+dbHost+':'+dbPort+'/'+dbName
    engine=sql.create_engine(dburl)
    resultdf=pd.DataFrame()
    sampleNumbrStr=(', '.join("'" + str(item) + "'" for item in sampleNumbersList))
    queryText="SELECT sample_number, analysis, REPLICATE_COUNT,TEST_NUMBER FROM test"
    queryText=queryText+" WHERE SAMPLE_NUMBER IN ("+sampleNumbrStr+") AND analysis IN ('PROT-BORIC')"
    conn = engine.connect()
    resultdf = pd.read_sql(queryText, engine)
    conn.close()
    return resultdf

In [100]:
for eachlab in lab:
    print('Lab:'+eachlab)
    path='//mxns.loc//shares//NA-Instruments//Prod//'+eachlab+'//Import//'+inst+'//'
    archivedDestination='//mxns.loc//shares//NA-Instruments//Prod//'+eachlab+'//Import//'+inst+'//'
    if(mode=='T'):
        importDest='//mxns.loc//shares//NA-Instruments//Prod//'+eachlab+'//impf//testing//'
    else:
        importDest='//mxns.loc//shares//NA-Instruments//Prod//'+eachlab+'//impf//'
    if os.path.exists(path):
        pass
    else:
        os.makedirs(path)
    if os.path.exists(importDest):
        pass
    else:
        os.makedirs(importDest)
    files = os.listdir(path)
    for filename in files:
        if fnmatch.fnmatch(filename,'*.CSV'):
            print (filename)

SyntaxError: invalid syntax (<ipython-input-100-dea50bb74cd5>, line 5)

In [101]:
path= './/SampleFiles_Instruments//FOSS//'
filename='PROT-BORIC 190322-1.csv'
datapath = path + str(filename)
rawdf = pd.read_csv(datapath,sep=';',index_col=False)

In [102]:
rawdf

              BatchId         ID  Titrant volume for sample (ml)  ErrorCode
0   ID=20190323161345  386539233                         0.09088        NaN
1   ID=20190323161345  386539237                        11.78003        NaN
2   ID=20190323161345  386539273                         4.23944        NaN
3   ID=20190323161345  386414796                         9.25012        NaN
4   ID=20190323161345  386414832                         8.54028        NaN
5   ID=20190323161345  386414866                         8.34132        NaN
6   ID=20190323161345  386414878                         9.95997        NaN
7   ID=20190323161345  386414905                        11.48774        NaN
8   ID=20190323161345  386414914                         9.47118        NaN
9   ID=20190323161345  386415024                        11.44844        NaN
10  ID=20190323161345  386421256                         5.81142        NaN
11  ID=20190323161345  386421278                         5.47491        NaN
12  ID=20190323161345  386421357                         0.08842        NaN
13  ID=20190323161345  386423753                        49.49590        NaN
14  ID=20190323161345  386423755                        50.82718        NaN
15  ID=20190323161345  386423756                        53.98956        NaN
16  ID=20190323161345  386423758                        49.39520        NaN
17  ID=20190323161345  386423761                        49.44616        NaN
18  ID=20190323161345  386423762                        49.39274        NaN
19  ID=20190323161345  386424735                        20.61260        NaN

In [103]:
rawdf=rawdf.rename(index=str,columns={'ID': 'sample_number'})

In [104]:
rawdf

,BatchId,sample_number,Titrant volume for sample (ml),ErrorCode
0,ID=20190323161345,386539233,0.09088,NaN
1,ID=20190323161345,386539237,11.78003,NaN
2,ID=20190323161345,386539273,4.23944,NaN
3,ID=20190323161345,386414796,9.25012,NaN
4,ID=20190323161345,386414832,8.54028,NaN
5,ID=20190323161345,386414866,8.34132,NaN
6,ID=20190323161345,386414878,9.95997,NaN
7,ID=20190323161345,386414905,11.48774,NaN
8,ID=20190323161345,386414914,9.47118,NaN
9,ID=20190323161345,386415024,11.44844,NaN
10,ID=20190323161345,386421256,5.81142,NaN
11,ID=20190323161345,386421278,5.47491,NaN
12,ID=20190323161345,386421357,0.08842,NaN
13,ID=20190323161345,386423753,49.49590,NaN
14,ID=20190323161345,386423755,50.82718,NaN
15,ID=20190323161345,386423756,53.98956,NaN
16,ID=20190323161345,386423758,49.39520,NaN
17,ID=20190323161345,386423761,49.44616,NaN
18,ID=20190323161345,386423762,49.39274,NaN
19,ID=20190323161345,386424735,20.61260,NaN

In [105]:
sampleNumbersList=list(rawdf['sample_number'].unique())

In [106]:
databasedf=getDataFromDB(sampleNumbersList)

In [107]:
rawdf=rawdf.astype({"sample_number": int})
dfResult = rawdf.merge(databasedf, how = 'inner', on = ['sample_number'])

In [108]:
dfResult

,BatchId,sample_number,Titrant volume for sample (ml),ErrorCode,analysis,replicate_count,test_number
0,ID=20190323161345,386539233,0.09088,NaN,PROT-BORIC,1,644453268
1,ID=20190323161345,386539237,11.78003,NaN,PROT-BORIC,1,644453269
2,ID=20190323161345,386539273,4.23944,NaN,PROT-BORIC,1,644453270
3,ID=20190323161345,386414796,9.25012,NaN,PROT-BORIC,1,644174029
4,ID=20190323161345,386414832,8.54028,NaN,PROT-BORIC,1,644174033
5,ID=20190323161345,386414866,8.34132,NaN,PROT-BORIC,1,644174037
6,ID=20190323161345,386414878,9.95997,NaN,PROT-BORIC,1,644175911
7,ID=20190323161345,386414905,11.48774,NaN,PROT-BORIC,1,644175915
8,ID=20190323161345,386414914,9.47118,NaN,PROT-BORIC,1,644175919
9,ID=20190323161345,386415024,11.44844,NaN,PROT-BORIC,1,644175923
10,ID=20190323161345,386421256,5.81142,NaN,PROT-BORIC,1,644188338
11,ID=20190323161345,386421278,5.47491,NaN,PROT-BORIC,1,644188344
12,ID=20190323161345,386421357,0.08842,NaN,PROT-BORIC,1,644189652
13,ID=20190323161345,386423753,49.49590,NaN,PROT-BORIC,1,644194380
14,ID=20190323161345,386423755,50.82718,NaN,PROT-BORIC,1,644194389
15,ID=20190323161345,386423756,53.98956,NaN,PROT-BORIC,1,644194385
16,ID=20190323161345,386423758,49.39520,NaN,PROT-BORIC,1,644194386
17,ID=20190323161345,386423761,49.44616,NaN,PROT-BORIC,1,644194387
18,ID=20190323161345,386423762,49.39274,NaN,PROT-BORIC,1,644194388
19,ID=20190323161345,386424735,20.61260,NaN,PROT-BORIC,1,644195425

In [109]:
dfResult=dfResult.rename(index=str, 
columns={'sample_number': 'Sample.Sample_Number', 'resultname': 'Result.Name','Titrant volume for sample (ml)': 'Result.Entry','test_number':'Test.Test_Number'})

In [110]:
dfResultReplicateMax = dfResult.groupby('Sample.Sample_Number')['replicate_count'].max().reset_index()
dfResultFinal = dfResult.merge(dfResultReplicateMax, how = 'inner', on = ['Sample.Sample_Number','replicate_count'])

In [111]:
dfResultFinal['Result.Name']='Titrant Vol'
dfResultFinal['Result.Entered_By']='IMPORTER'
dfResultFinal['Result.Instrument']='FOSS'

In [112]:
dfResultFinal = dfResultFinal[colsOrder]

In [113]:
dfResultFinal

,Sample.Sample_Number,Test.Test_Number,Result.Name,Result.Entry,Result.Entered_By,Result.Instrument
0,386539233,644453268,Titrant Vol,0.09088,IMPORTER,FOSS
1,386539237,644453269,Titrant Vol,11.78003,IMPORTER,FOSS
2,386539273,644453270,Titrant Vol,4.23944,IMPORTER,FOSS
3,386414796,644174029,Titrant Vol,9.25012,IMPORTER,FOSS
4,386414832,644174033,Titrant Vol,8.54028,IMPORTER,FOSS
5,386414866,644174037,Titrant Vol,8.34132,IMPORTER,FOSS
6,386414878,644175911,Titrant Vol,9.95997,IMPORTER,FOSS
7,386414905,644175915,Titrant Vol,11.48774,IMPORTER,FOSS
8,386414914,644175919,Titrant Vol,9.47118,IMPORTER,FOSS
9,386415024,644175923,Titrant Vol,11.44844,IMPORTER,FOSS
10,386421256,644188338,Titrant Vol,5.81142,IMPORTER,FOSS
11,386421278,644188344,Titrant Vol,5.47491,IMPORTER,FOSS
12,386421357,644189652,Titrant Vol,0.08842,IMPORTER,FOSS
13,386423753,644194380,Titrant Vol,49.49590,IMPORTER,FOSS
14,386423755,644194389,Titrant Vol,50.82718,IMPORTER,FOSS
15,386423756,644194385,Titrant Vol,53.98956,IMPORTER,FOSS
16,386423758,644194386,Titrant Vol,49.39520,IMPORTER,FOSS
17,386423761,644194387,Titrant Vol,49.44616,IMPORTER,FOSS
18,386423762,644194388,Titrant Vol,49.39274,IMPORTER,FOSS
19,386424735,644195425,Titrant Vol,20.61260,IMPORTER,FOSS

In [ ]:
writeFile(dfResultFinal,lab,inst,path,importDest,datapath,fname)