In [1]:
# Import Functions
import pandas as pd
import os
import time
import csv
import json
import fnmatch
import csv
import sqlalchemy as sql
import numpy as np
global test
test1=None
dbHost='mxnunx41'
dbPort='1521'
dbUser='lims'
dbPassword='Mumwit63'
dbName='hwi1'
dburl='oracle://'

In [2]:
# Default Parameters setting
with open('.\configFiles\DumathermConfig.json', 'r') as f:
    config = json.load(f)
lab = config['lab']
analysis = config['analysis']
inst = config['inst']
colsOrder=['Sample.Sample_Number', 'Test.Test_Number','Result.Name', 'Result.Entry', 'Result.Entered_By']

In [ ]:
# get Data from DB
def getDataFromDB(sampleNumbersList):
    dburl = 'oracle://'+dbUser+':'+dbPassword+'@'+dbHost+':'+dbPort+'/'+dbName
    engine=sql.create_engine(dburl)
    resultdf=pd.DataFrame()
    sampleNumbrStr=(', '.join("'" + item + "'" for item in sampleNumbersList))
    queryText="SELECT sample_number, analysis, REPLICATE_COUNT,TEST_NUMBER FROM test"
    queryText=queryText+" WHERE SAMPLE_NUMBER IN ("+sampleNumbrStr+") AND analysis IN ('FBR-SR-3C', 'CODEX-IST', 'CODEX-T')"
    conn = engine.connect()
    resultdf = pd.read_sql(queryText, engine)
    conn.close()
    return resultdf

In [3]:
#write the file
def writeFile(dframe,lab,inst,archDestination,importDest,datapath):
    timestr = time.strftime("%Y%m%d%H%M%S")
    FileName = importDest + lab+'_'+inst+'_' + timestr + '.csv'
    dframe.to_csv(FileName, index=False, encoding="utf-8",quotechar='"',quoting=csv.QUOTE_NONNUMERIC) # write  out the file to be imported
    destination = archDestination + name[:-4] + '.bak' # Backup the processed file
    os.rename(datapath, destination)
    time.sleep(1)

In [6]:
for eachlab in lab:
    print('Lab:'+eachlab)
    path='//mxns.loc//shares//NA-Instruments//Prod//'+eachlab+'//Import//'+inst+'//'
    archivedDestination='//mxns.loc//shares//NA-Instruments//Prod//'+eachlab+'//Import//'+inst+'//Ark//'
    importDest='//mxns.loc//shares//NA-Instruments//Prod//'+eachlab+'//testing//'
    files = os.listdir(path)
    for filename in files:
        if fnmatch.fnmatch(filename,'*.CSV'):
            print (filename)

Lab:Crete
Export_812_2019_03_18_09_25.csv
Export_812_2019_03_21_09_53.csv
Export_812_2019_03_21_09_54.csv
Export_812_2019_03_21_10_01.csv
Export_812_2019_03_21_10_02.csv
Export_812_2019_03_21_15_19.csv
Export_812_2019_03_21_17_32.csv
Export_812_2019_03_21_21_45.csv
Export_812_2019_03_21_21_54.csv
Lab:Gainsville
Export_812_2019_03_18_09_25.csv
Export_812_2019_03_21_09_53.csv
Export_812_2019_03_21_09_54.csv
Export_812_2019_03_21_10_01.csv
Export_812_2019_03_21_10_02.csv
Export_812_2019_03_21_15_19.csv
Export_812_2019_03_21_17_32.csv
Export_812_2019_03_21_21_45.csv
Export_812_2019_03_21_21_54.csv

In [7]:
filename='Export_812_2019_03_18_09_25.csv'
datapathxl = path + str(filename)
rawdf = pd.read_csv(datapathxl,header=None)

In [15]:
rawdf = rawdf.rename(index=str, columns={0: 'Sample', 1: 'var1', 2: 'var2'})

In [17]:
rawdf

       Sample   var1  var2
0   386356569  104.8  9.61
1   386356574  103.6  9.59
2   386356575  257.1  3.21
3   386260010  216.4  2.17
4   386260016  156.6  2.09
5   386260021  181.0  2.30
6   386260026  169.0  2.40
7   386260323  195.7  2.31
8   386260324  205.7  2.33
9   386260327  183.2  2.10
10  386260329  181.5  2.34
11  386289541  192.4  0.66
12  386289569  190.4  0.11
13  386289601  210.2  0.62
14  386289716  171.2  1.63
15  386289809  196.0  0.66
16  386356605  102.0  9.57
17  386297131  174.3  5.79
18  386308941  133.4  2.06
19  386326558  268.0  2.37
20  386326714  174.8  0.21
21  386326814  194.2  0.05
22  386327018  200.7  0.31
23  386327030  231.1  0.11
24  386356614  253.5  3.22
25  386356625  102.3  9.53